section.banner--vass{
    .jumbotron{
        padding: 0;
    }
}
section.intro--vass{
    background: #fff;
    padding: 50px 10px;
    .container{
        display: flex;
        flex-direction: row;
    }
    .cta{
        width: 200px;
        margin-right: 50px;
    h1{
            font-weight: 700;
            font-size: 18px;
        }
    }
    
    .lead{
        padding-left: 30px;
        border-left: 1px solid $black;
    }
    @media (max-width:568px) {
        .container{
            flex-direction: column;
        }
        .lead{
            margin-top: 10px;
        }
    }
}